@import "../../scss/styles.scss";

.header {
  @include alignItens-justifyContent(center, space-between);
  @include display-flexDirection(flex, row);
  background-color: white;
  border-bottom: 1px solid $menuBordaBranca;
  padding: 20px;
  position: fixed;
  transition: $transition;
  top: 0;
  width: 100%;
  z-index: 10;
  //---------------------------------------->
  @include tablet {
    @include height-width(100px, 100%);
  }

  //---------------------------------------->
  @include desktop {
    @include height-width(80px, 100%);
  }

  &__containerButtons {
    @include alignItens-justifyContent(center, space-between);
    @include display-flexDirection(flex, row);
    width: 45%;
    //---------------------------------------->
    @include tablet {
      width: 25%;
    }
    //---------------------------------------->
    @include desktop {
      width: 10%;
      z-index: 10;
    }
  }

  &__img {
    width: 15%;
    //---------------------------------------->
    @include tablet {
      width: 12.5%;
    }
    //---------------------------------------->
    @include desktop {
      margin-left: 5%;
      width: 5%;
    }
  }

  &__nav {
    @include display-flexDirection(flex, column);

    &___itens {
      padding: 0;
      list-style: none;
      text-decoration: none;
      //------------------------------------------->
      @include desktop {
        @include alignItens-justifyContent(center, space-between);
        @include display-flexDirection(flex, row);
        width: 80%;
      }
    }
  }
}
//background adicionado qdo a rolagem acontece
.stickyMenu {
  background-color: $cinza;
  border-bottom: none;
  box-shadow: $box-shadow-24;
  transition: $transition;
}

.btnCloseMobile {
  @include color-fontSize($cinza, 3rem);
  @include height-width(50px, 25%);
  background-color: transparent;
  border: none;
  margin: 5% 0;
  padding: 0;
  text-align: left;
  transition: $transition;

  &:hover {
    color: #000;
    transition: $transition;
  }
  //------------------------------------>
  @include desktop {
    display: none;
  }
}

.hamburguerIcon {
  @include alignItens-justifyContent(center, center);
  @include display-flexDirection(flex, column);
  @include height-width(35px, 100%);
  cursor: pointer;
  margin-left: 7.5%;
  //---------------------------------------------------->
  @include desktop {
    display: none;
  }
}

.hamburguerWhite {
  @include height-width(2.5rem, 2.5rem);
  color: $branco;
  margin-left: $ml7;
  transition: $transition;
}
.hamburguerBlue {
  @include height-width(2.5rem, 2.5rem);
  color: $azul-primario;
  margin-left: $ml7;
  transition: $transition;
}

.menuOpen {
  @include height-width(100vh, 300px);
  background: $branco;
  box-shadow: -10px 0px 8px rgba(0, 0, 0, 8%);
  padding: 5%;
  position: absolute;
  right: 0px;
  top: 0;
  transform: translateX(0%);
  transition: $transition;
}

.menuClose {
  @include height-width(100vh, 300px);
  position: absolute;
  right: 0px;
  top: 0;
  transform: translateX(100%);
  transition: $transition;
  //----------------------------------------------->
  @include desktop {
    @include alignItens-justifyContent(flex-start, flex-end);
    @include display-flexDirection(flex, column);
    @include height-width(70px, 75%);
    position: none;
    transform: translateX(0%);
  }
}

.languageButton {
  background-color: $azul-primario;
  border: 1px solid rgba(255, 255, 255, 8%);
  border-radius: 4px;
  padding: 8px;
  color: $branco;
  transition: $transition;

  &:hover {
    background-color: $azul-secundario;
    color: $branco;
    transform: translateY(-5px);
    transition: $transition;
  }
}

.icon {
  @extend .icon;
}
