@import "../../scss/styles.scss";

.company {
  @include alignItens-justifyContent(center, center);
  @include display-flexDirection(flex, column);
  padding: $padding-section;

  &__container {
    @include alignItens-justifyContent(center, center);
    @include display-flexDirection(flex, column);
    padding: $padding-lateral-5;

    &___img {
      width: 55%;
      transform: rotate(90deg);
      z-index: 1;
    }

    &___descriptionBox {
        @include alignItens-justifyContent(center, center);
        @include display-flexDirection(flex, column);
        background-color: #474747;
        padding: $padding-interno-10;

        & span {
            @include color-fontSize($branco, 1rem);
        }

        &____title {
            @extend .title;
        }

        &____content {
            @extend .content;
        }
    }
  }
}
