@import "../../mixins/mixins.scss", "../../variables/variables.scss";

.btnForm {
  @include height-width(10vh, 50%);
  border: none;
  border-radius: 8px;
  background: $gradiente;
  color: $branco;
  margin-bottom: 10%;
  transition: $transition;

  &:hover {
    box-shadow: $box-shadow-24;
    transform: translateY(-5px);
    transition: $transition;
  }

  &:active {
    background: $azul-primario;
    box-shadow: $box-shadow-24;
    transform: translateY(-5px);
    transition: $transition;
  }
}