@import "../../scss/styles.scss";

.products {
  @extend .sectionContainer;

  &__container {
    @extend .divContainer;
    //--------------------------------------->
    @include desktop {
      padding: $padding-lateral-7;
    }

    &___box {
        width: 100%;
        //---------------------------------------------------->
        @include tablet {
          &:last-of-type {
            @include display-flexDirection(flex, row);
            @include alignItens-justifyContent(center, space-between);
            flex-wrap: wrap;
            gap: 5%;
          }
        }
        //---------------------------------------------------->
        @include desktop {
          &:nth-child(2) {
            @include display-flexDirection(flex, row);
            @include alignItens-justifyContent(center, space-between);
            flex-wrap: wrap;
          }
        }

      &____title {
        @extend .title;
        color: $azul-primario;
      }
    }

    &___card {
      @include height-width(null, 100%);
      @include display-flexDirection(flex, column);
      background-color: $cinzaClaroBg;
      border-radius: 8px;
      box-shadow: $box-shadow-8;
      transition: $transition;
      &:hover {
        transform: translateY(-5px);
        transition: $transition;
      }
      //--------------------------->
      @include tablet {
        width: 47.5%;
      }

      //--------------------------->
      @include desktop {
        width: 22.5%;
        margin-bottom: 2.5%;
      }

      &____img {
        width: 100%;
        border-radius: 8px 8px 0 0; //borda-Padrao?
      }
    }

    &___boxContent {
      padding: 5%;

      &____title {
        @include color-fontSize($azul-secundario, 1.25rem);
        margin: 0;
      }

      &____content {
        @include color-fontSize($cinza, 0.8rem);
        margin: 0;
      }
    }
  }
}