@import "../../scss/styles.scss";

.products {
  @extend .sectionContainer;
  padding: $padding-lateral-7;
  padding-bottom: $pb5;

  //-------------------------------->

  &__title {
    @extend .title;

    //------------------------------>
    @include desktop {
      color: $azul-secundario;
      width: 100%;
    }
  }

  &__subTitle {
    @extend .subTitle;

    //------------------------------>
    @include desktop {
      margin: 0 0 10%;
      width: 100%;
    }
  }

  &__productsBox {
    width: 100%;

    @include desktop {
      @include display-flexDirection(flex, row);
      @include alignItens-justifyContent(center, space-between);
      flex-wrap: wrap;
      margin-bottom: $mb10;
    }

    &___container {
      //--------------------------------------->
      @include desktop {
        @include display-flexDirection(flex, row);
        @include alignItens-justifyContent(center, flex-start);
        width: 48%;
      }

      &____span {
        @extend .content;
        color: $cinza;
        font-weight: 500;
        margin-right: 10px;
      }

      &____content {
        @extend .content;
        margin: 0;
      }
    }
  }

  &__productsBoxImg {
    width: 100%;

    @include desktop {
      @include display-flexDirection(flex, row);
      @include alignItens-justifyContent(center, space-between);
    }

    &___img {
      border-radius: 4px;
      margin: 5% 0;
      width: 30%;
    }
  }

  &__productsBoxAnd {
    width: 100;

    @include desktop {
      @include alignItens-justifyContent(flex-start, space-between);
      @include display-flexDirection(flex, row);
      margin-bottom: $mb10;
    }

    &___span {
      @extend .content;
      color: $azul-primario;

      @include desktop {
        margin-right: 5px;
        text-align: left;
      }
    }

    &___content {
      @extend .content;

      @include desktop {
        margin: 0;
        width: 72.5%;
      }
    }
  }
}
