@import "../../scss/styles.scss";

.contact {
  @extend .sectionContainer;
  background-color: $cinzaClaroBg;

  &__container {
    @extend .divContainer;
    //----------------------------------->
    @include tablet {
      @include alignItens-justifyContent(flex-start, space-between);
      @include display-flexDirection(flex, row);
      gap: 5%;
      flex-wrap: wrap;
    }

    &___box {
      width: 100%;
      //-------------------------------------------->
      @include tablet {
        &:nth-child(2) {
          width: 55%;
        }

        & div[name="name"] {
          width: 100%;
        }
      }

      &____boxContent {
        background-color: $branco;
        border-radius: 8px;
        padding: 5%;
        margin-bottom: 10%;
        width: 100%;
        //------------------------------------------>
        @include tablet {
          width: 40%;

          &:first-child {
            width: 100%;
          }
        }
      }

      &____content {
        @extend .content;
        color: $cinza;
        //------------------------------------------->
        @include tablet {

          &:last-of-type {
            margin-bottom: 10%;
          }
        }
      }

      &____subTitle {
        @extend .subTitle;
        margin: 20% 0;
        //------------------------------------------->
        @include tablet {
          margin: 10% 0 5%;
        }
      }

      &____input {
        @extend .inputForm;
      }

      &____textArea {
        @extend .inputForm;
        height: 100px;
      }

      &____btnForm {
        @extend .btnForm;
      }

      &____addressTitle {
        @extend .subTitle;
        color: $cinza;
        text-align: start;
        margin: 0;
      }

      &____addressContent {
        @extend .content;
        color: $cinza;
        margin: 0 0 7.5%;
      }
    }
  }
}