@import "../../scss/styles.scss";

.contact {
  @extend .sectionContainer;

  //----------------------------------------------->
  @include desktop {
    padding: 0;
  }

  &__container {
    @extend .divContainer;
    padding: 0;

    //----------------------------------->
    @include tablet {
      @include alignItens-justifyContent(flex-start, space-between);
      @include display-flexDirection(flex, row);
      gap: 5%;
      flex-wrap: wrap;
    }
    //----------------------------------->
    @include desktop {
      @include alignItens-justifyContent(flex-start, space-between);
      @include display-flexDirection(flex, row);
      gap: 5%;
      flex-wrap: wrap;
      &:first-of-type {
        width: 100%;
      }
    }

    &___callToAction {
      @include display-flexDirection(flex, column);
      @include alignItens-justifyContent(center, center);
      background-image: url("../../assets/img/banner-contato.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      padding: 5%;
      width: 100%;
      //------------------------------------------------>
      @include desktop {
        @include display-flexDirection(flex, column);
        @include alignItens-justifyContent(center, center);
        width: 100%;
        margin: 2.5% 0;
      }

      &____content {
        @extend .content;
        color: $branco;
        //------------------------------------------->
        @include tablet {
          &:last-of-type {
            margin-bottom: 10%;
          }
        }
        //------------------------------------------->
        @include desktop {
          text-align: center;
          &:nth-child(1) {
            color: $branco;
            margin: 0;
          }
          & {
            color: $branco;
            margin: 0 0 0;
          }
        }
      }

      &____subTitle {
        @extend .subTitle;
        margin: 5% 0;
        //----------------------------------------->
        @include tablet {
          margin: 10% 0 5%;
        }
        //---------------------------------------->
        @include desktop {
          margin: 0;
        }
      }
    }

    &___box {
      width: 100%;
      @include display-flexDirection(flex, column);
      //-------------------------------------------->
      @include tablet {
        &:nth-child(2) {
          width: 55%;
        }
        & div[name="name"] {
          width: 100%;
        }
      }
      //-------------------------------------------->
      @include desktop {
        padding-left: 7.5%;
        &:nth-child(2) {
          margin-top: 2%;
          width: 55%;
        }
        & div[name="name"] {
          width: 100%;
        }

        &:nth-child(1) h3 {
          margin: 2.5% 0;
        }
      }

      &____span {
        width: 100%;
      }

      &____boxContent {
        background-color: $branco;
        border-radius: 8px;
        padding: 5%;
        margin-bottom: 10%;
        width: 100%;
        @include display-flexDirection(flex, column);
        //------------------------------------------>
        @include tablet {
          width: 40%;

          &:first-child {
            width: 100%;
          }
        }
        //------------------------------------------>
        @include desktop {
          margin-top: 5%;
          padding-top: 10%;
          padding-right: 7.5%;
          width: 40%;

          &:first-child {
            width: 100%;
          }
        }
      }

      &____content {
        @extend .content;
        color: $cinza;

        
        //------------------------------------------->
        @include tablet {
          &:last-of-type {
            margin-bottom: 10%;
          }
        }
        //------------------------------------------->
        @include desktop {
          text-align: center;
          &:nth-child(1) {
            color: $branco;
            margin: 0;
          }
          & {
            color: $branco;
            margin: 0 0 15%;
          }
        }
      }

      &____subTitle {
        @extend .subTitle;
        margin: 20% 0;
        //----------------------------------------->
        @include tablet {
          margin: 10% 0 5%;
        }
        //---------------------------------------->
        @include desktop {
          margin: 10% 0 5%;
        }
      }

      &____input {
        @extend .inputForm;
      }

      &____textArea {
        @extend .inputForm;
        height: 100px;
      }

      &____btnForm {
        @extend .btnForm;
      }

      &____addressTitle {
        @extend .subTitle;
        color: $cinza;
        text-align: start;
        margin: 0;
      }

      &____addressContent {
        @extend .content;
        color: $cinza;
        margin: 0 0 7.5%;

        & a {
          color: $cinza;
        }
      }
    }
  }
}
