@import "../../scss/styles.scss";

.contact {
  @extend .sectionContainer;
  background-color: $cinzaClaroBg;

  &__container {
    @extend .divContainer;

    &___box {
      width: 100%;

      &____boxContent {
        background-color: $branco;
        border-radius: 8px;
        padding: 5%;
        margin-bottom: 10%
      }

      &____content {
        @extend .content;
        color: $cinza;
      }

      &____subTitle {
        @extend .subTitle;
      }

      &____input {
        @extend .inputForm;
      }

      &____textArea {
        @extend .inputForm;
        height: 100px;
      }

      &____btnForm {
        @extend .btnForm;
      }

      &____addressTitle {
        @extend .subTitle;
        color: $cinza;
        text-align: start;
        margin: 0;
      }

      &____addressContent {
        @extend .content;
        color: $cinza;
        margin: 0 0 7.5%;
      }
    }
  }
}