@import '../../mixins/mixins.scss', '../../variables/variables.scss';

.icon {
    filter: brightness(0) saturate(100%) invert(21%) sepia(28%) saturate(126%) hue-rotate(152deg) brightness(96%) contrast(91%);
    width: 50%;
    height: 50%;
}