@import '../../mixins/mixins.scss', '../../variables/variables.scss';

.contentHeader {
    @include color-fontSize($branco, 1.25rem);
    margin-top: 10%;
    opacity: .9;
    text-align: center;
    //----------------------------------------->
    @include tablet {
        @include color-fontSize($branco, 1.5rem);
    }
    //------------------------------------------>
    @include desktop {
        margin: 0;
        @include color-fontSize($branco, 1.75rem);
    }
}

.content {
    @include color-fontSize($cinza, 1.125rem);
    text-align: justify;
    line-height: 1.6;
    font-weight: 400;
}
