@import "../../../scss/styles.scss";

.itemLi {
  margin: 2px 0;
  cursor: pointer;
  &:hover {
    font-weight: 800;
  }
}

.itemAnchor {
  color: $cinza;
  text-decoration: none;
  //----------------------------->
  @include desktop {
    color: $azul-primario;
    opacity: 0.8;
  }
}
