@import '../../../scss/styles.scss';

.box {
  @include alignItens-justifyContent(center, center);
  @include display-flexDirection(flex, column);
  border-bottom: 1px solid $azul-primario;
  width: 100%;
  //---------------------------------------------------->
  @include tablet {
    width: 47.5%;
  }
  //---------------------------------------->
  @include desktop {
    transition: $transition;
    width: 30%;
    @include alignItens-justifyContent(center, center);
    @include display-flexDirection(flex, column);
    &:hover {
      transform: translateY(-10px);
      transition: $transition;
    }
  }
}

.boxIcon {
  @include alignItens-justifyContent(center, center);
  @include display-flexDirection(flex, row);
  @include height-width(100px, 30%);
  background-color: $branco;
  border-radius: 50%;
  margin: 10% 0;
//----------------------------------------->
  @include desktop {
    @include alignItens-justifyContent(center, center);
    @include display-flexDirection(flex, row);
    @include height-width(100px, 30%);
    background-color: $branco;
    border-radius: 50%;
    margin: 10% 0;
  }

  &__weDo {
    @include color-fontSize($branco, 1.15rem);
    text-align: center;
  }
}

.icon {
  @extend .icon;
}
