
$branco: #fefefe;
$menuBordaBranca: rgba(255,255,255,10%);
$cinzaBg: #ccc;
$cinzaClaroBg: #f8f9fa;
$cinza: #393e40;
$corBotaoHamburguer: rgba(255,255,255,8%);
$vermelho: #e81050;
$azul-primario: #2a8ebc;
$azul-secundario: #022437;
$sucess: #28a745;

$transition: all 0.6s ease-in-out;
$padding-section: 5% 0;
$padding-lateral-5: 0 5%;
$padding-lateral-7: 0 7.5%;
$padding-interno-10: 10%;

$filterIcon: brightness(0) saturate(100%) invert(21%) sepia(28%) saturate(126%)
hue-rotate(152deg) brightness(96%) contrast(91%);

$box-shadow-4: 4px 4px 4px rgba(0, 0, 0, 8%);
$box-shadow-8: 4px 4px 8px rgba(0, 0, 0, 16%);
$box-shadow-24: 8px 8px 8px rgba(0, 0, 0, 24%);

$gradiente: linear-gradient(90deg, #2a8eb6 0%, #022437 100%);

// margin-top e padding-top:
$mt0: 0%;
$mt2: 2.5%;
$mt5: 5%;
$mt7: 7.5%;
$mt10: 10%;
$mt12: 12.5%;
$mt15: 15%;
$mt20: 20%;
$mt30: 30%;
$mt50: 50%;
$mt75: 75%;
$mt100: 100%;

$pt0: 0%;
$pt2: 2.5%;
$pt5: 5%;
$pt7: 7.5%;
$pt10: 10%;
$pt12: 12.5%;
$pt15: 15%;
$pt20: 20%;
$pt30: 30%;
$pt50: 50%;
$pt75: 75%;
$pt100: 100%;

//marginbottom e paddingbottom:
$mb0: 0%;
$mb2: 2.5%;
$mb5: 5%;
$mb7: 7.5%;
$mb10: 10%;
$mb12: 12.5%;
$mb15: 15%;
$mb20: 20%;
$mb30: 30%;
$mb50: 50%;
$mb75: 75%;
$mb100: 100%;

$pb0: 0%;
$pb2: 2.5%;
$pb5: 5%;
$pb7: 7.5%;
$pb10: 10%;
$pb12: 12.5%;
$pb15: 15%;
$pb20: 20%;
$pb30: 30%;
$pb50: 50%;
$pb75: 75%;
$pb100: 100%;

//marginleft e padding left:
$ml0: 0%;
$ml2: 2.5%;
$ml5: 5%;
$ml7: 7.5%;
$ml10: 10%;
$ml12: 12.5%;
$ml15: 15%;
$ml20: 20%;
$ml30: 30%;
$ml50: 50%;
$ml75: 75%;
$ml100: 100%;

$pl0: 0%;
$pl2: 2.5%;
$pl5: 5%;
$pl7: 7.5%;
$pl10: 10%;
$pl12: 12.5%;
$pl15: 15%;
$pl20: 20%;
$pl30: 30%;
$pl50: 50%;
$pl75: 75%;
$pl100: 100%;

//marginright e paddingright:
$mr0: 0%;
$mr2: 2.5%;
$mr5: 5%;
$mr7: 7.5%;
$mr10: 10%;
$mr12: 12.5%;
$mr15: 15%;
$mr20: 20%;
$mr30: 30%;
$mr50: 50%;
$mr75: 75%;
$mr100: 100%;

$pr0: 0%;
$pr2: 2.5%;
$pr5: 5%;
$pr7: 7.5%;
$pr10: 10%;
$pr12: 12.5%;
$pr15: 15%;
$pr20: 20%;
$pr30: 30%;
$pr50: 50%;
$pr75: 75%;
$pr100: 100%;
