
$branco: #fefefe;
$menuBordaBranca: rgba(255,255,255,10%);
$cinzaBg: #ccc;
$cinzaClaroBg: #f8f9fa;
$cinza: #393e40;
$corBotaoHamburguer: rgba(255,255,255,8%);
$vermelhor: #e81050;
$azul-primario: #2a8ebc;
$azul-secundario: #022437;

$transition: all 0.6s ease-in-out;
$padding-section: 10% 0;
$padding-lateral-5: 0 5%;
$padding-interno-10: 10%;



$box-shadow-4: 4px 4px 4px rgba(0, 0, 0, 8%);
$box-shadow-8: 4px 4px 8px rgba(0, 0, 0, 16%);
$box-shadow-24: 8px 8px 8px rgba(0, 0, 0, 24%);

$gradiente: linear-gradient(90deg, #2a8eb6 0%, #022437 100%);
