@import '../../scss/styles.scss';

.header {
  @include height-width(100vh, 100%);
  background-image: url("../../assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  
    &__boxContent {
      @include display-flexDirection(flex, column);
      @include alignItens-justifyContent(center, center);
      @include height-width(100vh, 100%);
    }
  }


.headerTitle {
  @extend .headerTitle;
}

.container {
  @extend .container;
  height: calc(100vh);

  //-------------------------------->
  @include desktop {
    @include alignItens-justifyContent(center, center);
    @include display-flexDirection(flex, column);
  }
  
  &__img {

    //----------------------------->
    @include desktop {
      margin: 0 0 5%;
      width: 20%;
    }
  }
}