@import "../../scss/styles.scss";

.footer {
  background-color: $cinza;

  &__container {
    @extend .divContainer;
    padding: 0 5%;

    &___logo {
      margin-top: $mt5;
      width: 50%;
      //------------------------->
      @include tablet {
        width: 20%;
      }
      @include desktop {
        margin-top: $mt5;
        width: 15%;
      }
    }

    &___copy {
      font-size: 0.8rem;
      text-align: center;
    }

    &___buildBy {
      @include color-fontSize($cinzaBg, 0.8rem);
      text-align: center;
      & a {
        color: $cinzaBg;
        text-decoration: none;
        transition: $transition;
        &:hover {
          color: $azul-primario;
          transition: $transition;
        }
      }
    }
  }
}
