@import "../../scss/styles.scss";

.company {
  @extend .sectionContainer;
  //------------------------------------------>
  @include desktop {
    padding-bottom: 0;
    padding-top: 0;
  }

  &__container {
    @extend .divContainer;
    //----------------------------------->
    @include desktop {
      flex-direction: row-reverse;
      padding: 0;
      width: 100%;
    }

    &___img {
      width: 100%;
      z-index: 1;

      //---------------------------------------->
      @include desktop {
        width: 50%;
      }
    }

    &___descriptionBox {
      @include alignItens-justifyContent(center, center);
      @include display-flexDirection(flex, column);
      background-color: $branco;
      padding: $padding-interno-10;

      @include desktop {
        padding: 5%;
        width: 100%;
      }

      & span {
        @include color-fontSize($cinza, 1rem);
        //------------------------------------>
        @include desktop {
          text-align: left;
          width: 100%;
        }
      }

      &____title {
        @extend .title;
        color: $cinza;
        //------------------------------------>
        @include desktop {
          margin: 0;
          text-align: left;
          width: 100%;
        }
      }

      &____content {
        @extend .content;

        //-------------------------------------->
        @include desktop {
          font-size: 1rem;
          margin: 1% 0;
        }
      }
    }
  }
}
