@import "../../scss/styles.scss";

.company {
  @extend .sectionContainer;

  &__container {
    @extend .divContainer;

    &___img {
      transform: rotate(90deg);
      width: 55%;
      z-index: 1;
    }

    &___descriptionBox {
        @include alignItens-justifyContent(center, center);
        @include display-flexDirection(flex, column);
        background-color: $azul-secundario;
        padding: $padding-interno-10;

        & span {
            @include color-fontSize($branco, 1rem);
        }

        &____title {
            @extend .title;
        }

        &____content {
            @extend .content;
        }
    }
  }
}
