@import "../../scss/styles.scss";

.whatWeDo {
  @extend .sectionContainer;

  &__container {
    @extend .divContainer;
    padding: 0;
    //----------------------------------->
    @include desktop {
      width: 100%;
    }

    &___faq {
      @include alignItens-justifyContent(center, center);
      @include display-flexDirection(flex, column);
      padding: $padding-lateral-7;
      margin-bottom: 20%;
      width: 100%;
      &:nth-child(1) {
        background-color: $azul-primario;
        padding: 5%;
      }
      &:nth-child(2) {
        width: 80%;
      }
      //---------------------------------------->
      @include tablet {
        @include alignItens-justifyContent(center, space-between);
        @include display-flexDirection(flex, row);
        flex-wrap: wrap;
        gap: 5%;
        margin-bottom: 10%;
        width: 100%;
      }
      //------------------------------------------->
      @include desktop {
        @include alignItens-justifyContent(flex-end, space-between);
        @include display-flexDirection(flex, row);
        flex-wrap: wrap;
        margin-bottom: $mb5;
        &:nth-child(2) h2 {
          color: $cinza;
        }
        &:nth-child(3) h2 {
          color: $cinza;
        }
      }

      &____boxTitle {
        //---------------------------------------->
        @include tablet {
          @include alignItens-justifyContent(center, space-between);
          @include display-flexDirection(flex, column);
          flex-wrap: wrap;
          width: 100%;
        }
        //---------------------------------------->
        @include desktop {
          @include alignItens-justifyContent(center, space-between);
          @include display-flexDirection(flex, row);
          flex-wrap: wrap;
          width: 100%;
        }
      }

      &____title {
        @extend .title;
        color: $branco;
        //---------------------------------------------------->
        @include tablet {
          width: 100%;
        }
        //---------------------------------------------------->
        @include desktop {
          width: 100%;
        }
      }
    }
  }
}
