@import "../../scss/styles.scss";

.whatWeDo {
  @extend .sectionContainer;

  &__container {
    @extend .divContainer;
    //----------------------------------->
    @include desktop {
      padding: $padding-lateral-7;
    }

    &___faq {
      @include alignItens-justifyContent(center, center);
      @include display-flexDirection(flex, column);
      margin-bottom: 20%;
      width: 100%;
      &:nth-child(2) {
        width: 80%;
      }
      //---------------------------------------->
      @include tablet {
        width: 100%;
        @include alignItens-justifyContent(center, space-between);
        @include display-flexDirection(flex, row);
        flex-wrap: wrap;
        gap: 5%;
        margin-bottom: 10%;
      }
      //------------------------------------------->
      @include desktop {
        @include alignItens-justifyContent(flex-end, space-between);
        @include display-flexDirection(flex, row);
        gap: 5;
        flex-wrap: wrap;
        margin-bottom: 10%;
      }

      &____boxTitle {
        //---------------------------------------->
        @include tablet {
          width: 100%;
        }
        //---------------------------------------->
        @include desktop {
          width: 100%;
        }
      }

      &____box {
        border-bottom: 1px solid $azul-primario;
        width: 100%;
        //---------------------------------------------------->
        @include tablet {
          width: 47.5%;
        }
        //---------------------------------------->
        @include desktop {
          width: 30%;
        }
      }
      & [name="border-none"] {
        border-bottom: none;
      }

      &____title {
        @extend .title;
        color: $azul-primario;
        //---------------------------------------------------->
        @include tablet {
          width: 100%;
        }
      }

      &____weDo {
        @include color-fontSize($cinza, 1.5rem);

        & span {
          @include color-fontSize($azul-primario, 0.85rem);
        }
      }

      &____content {
        @extend .content;
        color: $cinza;
      }

      &____boxImg {
        border-bottom: none;
        margin-bottom: 5%;
        width: 100%;
        &:hover [name="hover"] {
          @include height-width(7.5vh, 100%);
          background-color: $branco;
          border-radius: 0 0 8px 8px;
          color: $azul-primario;
          opacity: 0.8;
          padding: 2.5%;
          transform: translateY(-49px);
          transition: $transition;
        }
        //-------------------------------------->
        @include tablet {
          align-self: stretch;
          flex-wrap: wrap;
          width: 47.5%;
        }
        //--------------------------------------->
        @include desktop {
          width: 22.5%;
        }
      }

      &____img {
        width: 100%;
        border-radius: 8px;
        transition: $transition;
        //-------------------------------------->
        @include tablet {
          max-height: 180px;
        }
        //-------------------------------------->
        @include desktop {
          max-height: 140px;
          &:hover {
            box-shadow: $box-shadow-8;
            transition: $transition;
          }
        }
      }

      &____hoverInfo {
        @include height-width(7.5vh, 100%);
        background-color: $branco;
        border-radius: 0 0 8px 8px;
        color: $azul-primario;
        opacity: 0;
        padding: 2.5%;
        transform: translateY(-10px);
        transition: $transition;
      }
    }
  }
}
