@import '../../../scss/styles.scss';

.box {
  width: 100%;
  @include display-flexDirection(flex, column);
  //-------------------------------------------->
  @include tablet {
    &:nth-child(2) {
      width: 55%;
    }
    & div[name="name"] {
      width: 100%;
    }
  }
  //-------------------------------------------->
  @include desktop {
    padding-left: 7.5%;
    &:nth-child(2) {
      margin-top: 2%;
      width: 55%;
    }
    & div[name="name"] {
      width: 100%;
    }

    &:nth-child(1) h3 {
      margin: 2.5% 0;
    }
  }

  &__input {
    @extend .inputForm;
  }
}
