@import "../../mixins/mixins.scss", "../../variables/variables.scss";

.headerTitle {
  @include color-fontSize($branco, 1.75rem);
  text-align: center;
  text-transform: uppercase;
}

.title {
  @include color-fontSize($branco, 1.75rem);
  text-align: center;
  text-transform: uppercase;
}

.subTitle {
  @include color-fontSize($azul-primario, 1.25rem);
  text-align: center;
  text-transform: uppercase;
}
