@import "../../scss/styles.scss";

.whyUs {
  @extend .sectionContainer;
  background-color: $cinzaClaroBg;
  //-------------------------------------->
  @include desktop {
    @include alignItens-justifyContent(center, space-between);
    @include display-flexDirection(flex, row);
    padding: 10% 0;
    width: 100%;
  }

  &__img {
    width: 100%;
    @include desktop {
      width: 49.5%;
    }
  }

  &__container {
    @extend .divContainer;
    //------------------------------------->
    @include desktop {
      @include alignItens-justifyContent(flex-start, center);
      @include display-flexDirection(flex, row);
      flex-wrap: wrap;
      padding: 0;
      padding-left: 2.5%;
      width: 49.5%;
    }

    &___title {
        @extend .title;
        color: $azul-primario;
        margin: 0;
    }

    &___content {
      @extend .content;
      color: $cinza;
      margin: 2%;
      //---------------------------------->
      @include desktop {
        text-align: left;
      }
    }
  }
}
