@import "../../scss/styles.scss";

.whyUs {
  //sections sao iguais, componentizar isso e olhar os proximos
  @include alignItens-justifyContent(center, center);
  @include display-flexDirection(flex, column);
  padding: $padding-section;
  background-color: $cinzaBg;

  &__container {
    //div sao iguais, componentizar isso e olhar os proximos
    @include alignItens-justifyContent(center, center);
    @include display-flexDirection(flex, column);
    padding: $padding-lateral-5;

    &___title {
        @extend .title;
        color: $azul-primario;
    }
  }
}
